html { 
    background: url("../images/infinity-gauntlet-thanos.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    font-color: white;
    font-family: 'Montserrat', sans-serif;
}

header {
    font-color: white;
    text-align: center;
    font-size: 110%;
}
.container {
    text-align: left;
    font-size: 12px;
}

section {
    font-size: 120%;
}

button {
    word-wrap: break-word;
    background-color: purple;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5em/13em;
    }
}
#space {
    background: purple;
}

#mind {
    background: rgb(6, 164, 238);
}

#power {
    background: red;

}

#time {
    background: rgb(255, 166, 0);

}

