html { 
    background: url("../images/InfinityGauntlet.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    font-color: white;
    font-family: 'Fredoka One', cursive;
}

header {
    font-color: white;
    text-align: center;
    font-size: 110%;
}
.container {
    text-align: center;
}

section {
    font-size: 120%;
}
button {
    word-wrap: break-word;
}
#space {
    background: purple;
}

#mind {
    background: rgb(6, 164, 238);
}

#power {
    background: red;

}

#time {
    background: rgb(255, 166, 0);

}

